body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ddc7c7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('background.jpg'); /* 배경 이미지 추가 */
  background-size: cover;
  background-position: center;
}

.lottie-container {
  width: 200px;
  height: 200px;
}

.fade-out {
  animation: fadeOut 2s forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
